* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(-45deg, #de72bc, #725dc5);
}

.container {
}
.container > .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 20px;
}
.board-name {
  font-size: 19px;
  font-weight: bold;
}
.user {
  font-size: 30px;
}

.main {
}

.main .lists {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
   
.main .lists {
  justify-content: center;
}
}

.lists .list {
  height: fit-content;
  flex-basis: 300px;
  background-color: attr(data-color type(<color>));
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/* Coloring Inside */
.list div,
.list i,
.list div:not(:last-of-type) {
  color: #803fa5;
}

.list:nth-child(2) div,
.list:nth-child(2) i,
.list.list:nth-child(2) div:not(:last-of-type) {
  color: #533F04;
}

.list:nth-child(3) div,
.list:nth-child(3) i,
.list.list:nth-child(3) div:not(:last-of-type) {
  color: #164B35;
}
.list:nth-child(4) div,
.list:nth-child(4) i,
.list.list:nth-child(4) div:not(:last-of-type) {
  color: #292A2E;
}
.lists {
}

.list .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.list .upper .list-title {
  color: #48245d;
  font-weight: 600;
}
.list .upper .list-options {
    display: flex;
    align-items: center;
    gap: 10px;
}
.list .upper .collapse {
    padding: 4px;
    border-radius: 7px;
}
.list .upper .counter {
    padding: 4px;
    position: relative;
    cursor: default ;
}
.list .upper .counter:hover::before {
   content: "Total  Card";
   position: absolute;
   bottom: calc(-100% - 5px);
   left: 0px;
   transform:  translateX(-50%);
   background-color: black;
   color: white;
   width: 77px;
   padding: 7px;
   border-radius: 7px;
}

.list .lower {

}

.list .add-card {
  display: flex;
  align-items: center;
  margin-top: 2px;
  padding: 7px 7px 7px 40px !important;
  transition: 0.1s;
  position: relative;
  border-radius: 7px;
}
.list .add-card::before {
  content: "\2b";
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  padding: 5px;
  font-size: 20px;
}

.list .collapse:hover,
.list .add-card:hover,
.list .input .input-btns i:hover {
  background-color: rgba(37, 37, 37, 0.167);
  cursor: pointer;
}
.list .collapse:hover i,
.list .add-card:hover {
}
/* Reset */
.list .hide {
  display: none;
}
.list .display {
    display: block;
}
.margin-toggle {
    margin: 0px !important;
}

.list .input input, .list .cards .card{
    width: 100%;
    padding: 7px 7px 50px 7px;
    border: none;
    border-radius: 7px;
    box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    outline: none;
    caret-color: black;
    color: black;
}



.list .input input:focus {
    border: 2px solid #1868DB;
}


.list .cards .card {
    display: flex;
    padding: 13px !important;
    background: white;
    margin: 0px 0px 6px;
    position: relative;
}

.card {
    position: relative;
}

.card .mark{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);

}
.card .mark i:first-of-type{
    color: black;
    opacity: 0;
    transition: 0.2s;
}
.card:hover .mark i:first-of-type{ 
    opacity: 1;
}
.card:hover .mark i:first-of-type{
 
}
.card .mark i:last-of-type{
    color: #13724b;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.card .text {
    color: black !important;
  transition: 0.5s;
}
.card:hover .text , .text-spacing{
    padding-left: 25px;

}
.stay {
    display: block !important;
}
.card:hover .mark i:first-of-type{
    animation: changeColor 0.3s linear 0s forwards;
}

.card .delete {
    color: #605e5e;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

/* Mark Start
.card .mark i{
    transition: all 2s;
}

.card .mark i{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .mark i:first-of-type{
    color: black;
}
.card .mark i:last-of-type{
    color: #164B35;
}
.card .text {
    color: black;   
    transition: 0.5s;
}
.text-space {
    padding-left: 10px;
} */

/* .card:hover .text {
     padding-left: 25px;
     
} */
/* mark End */
.list .input .input-btns{
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.list .input .input-btns button{
     padding: 5px 14px;
     background-color: #1868DB;
     border: 1px solid #175CBE;
     border-radius: 6px;
     font-size: 12px;
     font-weight: 500;
}
.list .input .input-btns i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #505258;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 7px;
}

.add-list {
  background-color: rgba(255, 255, 255, 0.281) !important;
  cursor: pointer;
}
.add-list .text {
  color: white !important;
}
.add-list .text::before {
  content: '\2b';
  margin-right: 10px;
}
/* animaiton */

@keyframes changeColor {
    0%{
     color: rgba(0, 0, 0, 0);
    }
    100%{
      color: black;
    }
    
}